<!DOCTYPE html>
<html>
  <head>
    <title>JobIo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700" rel="stylesheet">

    <link rel="stylesheet" href="https://technext.github.io/ignite/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="https://technext.github.io/ignite/css/animate.css">
    
    <link rel="stylesheet" href="https://technext.github.io/ignite/css/owl.carousel.min.css">
    <link rel="stylesheet" href="https://technext.github.io/ignite/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://technext.github.io/ignite/css/magnific-popup.css">

    <link rel="stylesheet" href="https://technext.github.io/ignite/css/aos.css">

    <link rel="stylesheet" href="https://technext.github.io/ignite/css/ionicons.min.css">

    <link rel="stylesheet" href="https://technext.github.io/ignite/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="https://technext.github.io/ignite/css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="https://technext.github.io/ignite/css/flaticon.css">
    <link rel="stylesheet" href="https://technext.github.io/ignite/css/icomoon.css">
    <link rel="stylesheet" href="https://technext.github.io/ignite/css/style.css">
  </head>

  <body>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <header>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="<%= unauthenticated_root_path %>">Job IO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active"><a href="<%= unauthenticated_root_path %>" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="<%= new_user_session_path %>" class="nav-link">User Sign In</a></li>
            <li class="nav-item"><a href="<%= new_admin_session_path %>" class="nav-link">Admin Sign In</a></li>
            <%# <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li> %>
            <li class="nav-item"><a href="<%= new_user_registration_path %>" class="nav-link"><span>User Signup</span></a></li>
            <li class="nav-item"><a href="<%= new_admin_registration_path %>" class="nav-link"><span>Admin Signup</span></a></li>
        </ul>
        </div>
    </div>
    </nav>
    </header>
    <%= yield %>
    <body>
    <footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
    <div class="row mb-5">
        <div class="col-md">
        <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Job IO</h2>
            <p>Making career fairs easier for you and your dream job.</p>
            <ul class="ftco-footer-social list-unstyled mb-0">
            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
            </ul>
        </div>
        </div>
        <div class="col-md">
        <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Office</h2>
            <div class="block-23 mb-3">
                <ul>
                <li><span class="icon icon-map-marker"></span><span class="text">University of California, Los Angeles</span></li>
                <li><a href="#"><span class="icon icon-phone"></span><span class="text">(555) 555-5555</span></a></li>
                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">jobio@jobio.com</span></a></li>
                </ul>
            </div>
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">

        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        </div>
    </div>
    </div>
    </footer>
    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


    <script src="https://technext.github.io/ignite/js/jquery.min.js"></script>
    <script src="https://technext.github.io/ignite/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="https://technext.github.io/ignite/js/popper.min.js"></script>
    <script src="https://technext.github.io/ignite/js/bootstrap.min.js"></script>
    <script src="https://technext.github.io/ignite/js/jquery.easing.1.3.js"></script>
    <script src="https://technext.github.io/ignite/js/jquery.waypoints.min.js"></script>
    <script src="https://technext.github.io/ignite/js/jquery.stellar.min.js"></script>
    <script src="https://technext.github.io/ignite/js/owl.carousel.min.js"></script>
    <script src="https://technext.github.io/ignite/js/jquery.magnific-popup.min.js"></script>
    <script src="https://technext.github.io/ignite/js/aos.js"></script>
    <script src="https://technext.github.io/ignite/js/jquery.animateNumber.min.js"></script>
    <script src="https://technext.github.io/ignite/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="https://technext.github.io/ignite/js/google-map.js"></script>
    <script src="https://technext.github.io/ignite/js/main.js"></script>
  </body>
</html>
