<!DOCTYPE html>
<html>
  <head>
    <title>JobIo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    
    
  </head>

  <body>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
